/* CSS Document */
body{
		background-color: #FFFFCC;
		font-family: Verdana, Arial, Helvetica, sans-serif;
		font-size: 12px;
		line-height:24px;
		color:#336699;
}

td,th{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height:24px;
	color:#333333;
}
/*
a{
	font-size:12px;
	color:#336600;	
}*/

form{
	background-color: #CCCC99;	
}

.title {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 18px;
	line-height: 20px;
	background-color: #99CC00;
	color: #003333;
}

.subtitle{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:16px;
	line-height:30px;
	color:#003300;
}

input.big {
	width: 100px;
}

input.small{
	width:50px;	
}

tr td ol{
	color:red;
}


a:link{color:blue;}
a:visited{color: red;}
a:hover{color:green;}
a:link.important{font-weight:bold;}
